{%- extends 'base/agl-base-defaults.jinja2' %}
{%- block job %}
{%- block metadata %}
{% include 'base/agl-metadata.jinja2' %}
{% endblock %}
{% if do_callback %}
{% include 'base/agl-callback-section.jinja2' %}
{% endif %}
{%- block main %}
device_type: {{ device_type }}
{%- if DEVICE_TAGS %}
tags:
{%- for tag in DEVICE_TAGS %}
- {{ tag|lower }}
{%- endfor %}
{%- endif %}

job_name: {{ name }}

timeouts:
  job:
    minutes: {{ job_timeout }}
  action:
    minutes: {{ action_timeout }}
  connection:
    minutes: {{ connection_timeout }}
  connections:
    lava-test-shell:
      minutes: 15

priority: {{ priority }}
visibility: public
{% endblock %}
{%- block actions %}
actions:
{%- block deploy %}
- deploy:
    timeout:
      minutes: {{ deploy_timeout }}
{%- endblock %}
{%- block boot %}
{% endblock %}
{%- block tests %}
{%-for test_template in test_templates %}
{% include test_template %}
{%- endfor %}
{% endblock %}
{% endblock %}
{% endblock %}
