{%- extends 'boot/generic-uboot-tftp.jinja2' %}
{%- set device_type = "dra7-evm" %}
{%- set device_arch = "arm" %}
{%- set sdk_arch = "arm" %}
{%- set device_mach = "omap2" %}
{%- set dtb = dtb|default("dra7-evm.dtb") %}
{%- set kernel_image = kernel_image|default("zImage") %}
{%- set rootfs_type = rootfs_type|default("nbd") %}
{%- if (build_type == 'daily') or (build_type == 'release') or (build_type == 'prerelease') %}
    {%- set rfs_image = rfs_image|default("agl-demo-platform-crosssdk-dra7xx-evm.ext4.xz") %}
{%- else %}
    {%- set rfs_image = rfs_image|default("agl-demo-platform-dra7xx-evm.ext4.xz") %}
{%- endif %}
    
{%- set uboot_type = "bootz" %}
