{%- extends 'boot/generic-qemu-tmpfs.jinja2' %}
{%- set deploy_to = "tmpfs" %}
{%- set device_type = "qemu" %}
{%- set kernel_image = "Image" %}
{%- set device_arch = "arm64" %}
{%- set sdk_arch = "aarch64" %}
{%- set device_mach = "arm64" %}
{%- set qemu_arch = "aarch64" %}
{%- set qemu_cpu = "cortex-a57" %}
{%- set qemu_machine = "virt" %}
{%- set qemu_memory = "2048" %}
{%- set qemu_args = "-smp 2 -soundhw hda -device usb-ehci -device virtio-rng-pci" %}
{%- set qemu_cmdline = "console=ttyAMA0,115200 root=/dev/vda verbose systemd.log_color=false " %}
{%- set guestfs_interface = "virtio" %}
{%- set rootfs_type = rootfs_type|default("rootvd") %}
{%- if (build_type == 'daily') or (build_type == 'release') or (build_type == 'snapshot') or (build_type == 'prerelease') %}
    {%- set rfs_image = rfs_image|default("agl-demo-platform-crosssdk-qemuarm64.ext4.xz") %}
{%- else %}
	{%- set rfs_image = rfs_image|default("agl-demo-platform-qemuarm64.ext4.xz") %}
{%- endif %}
