{%- extends 'boot/generic-uboot-tftp.jinja2' %}
{%- set device_arch = "arm64" %}
{%- set sdk_arch = "arm64" %}
{%- set device_mach = "broadcom" %}
{%- set device_type = "bcm2711-rpi-4-b" %}
{%- set rootfs_type = rootfs_type|default("nbd") %}
{%- set kernel_image = kernel_image|default("Image") %}
{%- set uboot_type = "booti" %}
{%- if rootfs_type == 'nbd' %}
    {%- set initrd = "initramfs-netboot-image-" + yocto_machine +".ext4.gz" %}
{%- endif %}
{%- set dtb = dtb|default("bcm2711-rpi-4-b.dtb") %}
{%- if (build_type == 'daily') or (build_type == 'release') or (build_type == 'prerelease') %}
    {%- set rfs_image = rfs_image|default("agl-demo-platform-crosssdk-" + yocto_machine + ".ext4.xz") %}
{%- else %}
    {%- set rfs_image = rfs_image|default("agl-demo-platform-" + yocto_machine + ".ext4.xz") %}
{%- endif %}

{%- block main %}
{{ super() }}
context:
  console_device: ttyS0
  extra_kernel_args: "8250.nr_uarts=1 cma=64M rw fstab=no"
{% endblock %}
