{%- extends 'boot/generic-uboot-tftp.jinja2' %}
{%- set device_arch = "arm" %}
{%- set sdk_arch = "arm" %}
{%- set device_mach = "broadcom" %}
{%- set device_type = "bcm2837-rpi-3-b-32" %}
{# Default boot method if not specified #}
{%- set rootfs_type = rootfs_type|default("nbd") %}
{# Defaults image names dependng on boot method #}
{%- if rootfs_type == 'nbd' %}
    {%- set initrd = "initramfs-netboot-image-" + yocto_machine +".ext4.gz.u-boot" %}
{%- endif %}
{%- set dtb = dtb|default("bcm2710-rpi-3-b+vc4+ft5406.dtb") %}
{%- if (build_type == 'daily') or (build_type == 'release') or (build_type == 'prerelease') %}
    {%- set rfs_image = rfs_image|default("agl-demo-platform-crosssdk-raspberrypi3.ext4.xz") %}
{%- else %}
    {%- set rfs_image = rfs_image|default("agl-demo-platform-raspberrypi3.ext4.xz") %}
{%- endif %}

{%- block main %}
{{ super() }}
context:
  console_device: ttyS0
  custom_kernel_args: "8250.nr_uarts=1 bcm2709.uart_clock=48000000 smsc95xx.macaddr=AA:BB:CC:DD:EE:AA cma=256M bcm2708_fb.fbwidth=1920 bcm2708_fb.fbheight=1080 bcm2708_fb.fbswap=1 vc_mem.mem_base=0x3ec00000 vc_mem.mem_size=0x40000000  dwc_otg.lpm_enable=0 usbhid.mousepoll=0 coherent_pool=6M rw fstab=no"
{% endblock %}
