{%- extends 'boot/generic-base-boot.jinja2' %}
{%- set boot_method = "qemu" %}
{%- block boot %}
{{ super() }}
    media: {{ media_type|default("tmpfs") }}
    transfer_overlay:
      download_command: wget
      unpack_command: tar -C / -xvpf
{%- endblock %}
{%- block main %}
{{ super() }}
context:
    no_kvm: false
    arch: {{ qemu_arch }}
{%- if qemu_cpu is defined %}
    cpu: {{ qemu_cpu }}
{%- endif %}
{%- if qemu_machine is defined %}
    machine: {{ qemu_machine }}
{%- endif %}
{%- if qemu_memory is defined %}
    memory: {{ qemu_memory }}
{%- endif %}
{%- if guestfs_interface is defined %}
    guestfs_interface: {{ guestfs_interface }}
{%- endif %}
    extra_options: ["{{ qemu_args }}"]
{% endblock %}
{%- block deploy -%}
{{ super() }}
    images:
        kernel:
           image_arg: '-kernel {kernel} -append "{{ qemu_cmdline }}"'
           url: {{ kernel_url }}
{%- if initrd_url and rootfs_type == 'rootvd' %}
        rootvd:
           image_arg: '-drive format=raw,file={rootvd}'
           url: {{ initrd_url }}
           compression: {{ initrd_compression }}
{%- endif %}
{%- endblock %}
