
- test:
    timeout:
      minutes: 10
    definitions:
    - repository: https://git.automotivelinux.org/src/qa-testdefinitions
      from: git
      path: test-suites/short-smoke/application-lifecycle.yaml
      name: application-lifecycle
      parameters:
{%- if APPURL != 'automatic' %}
        APPURL: "{{ APPURL }}"
{%- else %}
        APPURL: "{{app_url_base}}/{{ app_changeid }}/{{ app_patchset }}/{{ app_branch }}/{{ sdk_arch }}"
{%- endif %}
