
- test:
    timeout:
      minutes: 15
    definitions:
    - repository: https://git.automotivelinux.org/src/qa-testdefinitions
      from: git
      history: False
      path: test-suites/short-smoke/busybox.yaml
      name: release-busybox
    - repository: https://git.automotivelinux.org/src/qa-testdefinitions
      from: git
      history: False
      path: test-suites/short-smoke/smoke-tests-basic.yaml
      name: release-smoke-tests-basic
    - repository: https://git.automotivelinux.org/src/qa-testdefinitions
      from: git
      history: False
      path: test-suites/short-smoke/service-check.yaml
      name: release-service-check
      parameters:
        BUILD_TAGS: "{{ BUILD_TAGS }}"
        DEVICE_TAGS: "{{ DEVICE_TAGS }}"

- test:
    timeout:
      minutes: 60
    definitions:
    - repository: https://git.linaro.org/qa/test-definitions.git
      from: git
      history: False
      path: automated/linux/ptest/ptest.yaml
      name: release-linaro-ptest
      parameters:
        TESTS: "xmlsec1 libxml2 lua"
